services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_NAME=SCB
      - DB_USER=nextjs_user
      - DB_PASS=kartik
      - ENCRYPTED_KEY=01824723cec7749538394df278e859e1
      - SECERT_KEY=93300bb61a43bdd6fc7cb6e03ad042f4
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - db
      - redis
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules

  db:
    build:
      context: ./mysql_docker
      dockerfile: Dockerfile
    container_name: mysql_db
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=supersecretroot
      - MYSQL_DATABASE=SCB
      - MYSQL_USER=nextjs_user
      - MYSQL_PASSWORD=kartik
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  db_data:
  redis_data:
