services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: password
      DB_NAME: scb

      REDIS_HOST: redis
      REDIS_PORT: 6379

      ENC_KEY: w1LfCbS/uZaSwxavFXLxaKLYj5WxkWtZt8bq46bNw30=
      HASH_KEY: kfjhsdjgh
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - scb

  db:
    build:
      context: ./src/db
      dockerfile: Dockerfile
    volumes:
      - scb:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - scb

  redis:
    image: redis:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - scb

networks:
  scb:

volumes:
  scb:
