services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: password
      DB_NAME: scb

      REDIS_HOST: redis
      REDIS_PORT: 6379
      SERVICE_ACCOUNT: '{"type":"service_account","project_id":"spamcallblocker-1ff4d","private_key_id":"bc434a9405928c8a39943037603ed43d1ce2bf51","private_key":"-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQD7cmjyN/yGy82K\nlUcJtqIE6cs3TXZdMgOq2h5I+mykCIBQ+Hvy6NJgz06SBfKVxEIWDZG1xFzAEFqW\nr0Av7zFy8mnSqNzysPsiVMn+Fk9nIUGn1nDpgJc4dhrdfHQJtf52uttdxCQe1HUe\nx3JGIQIgJvYAETqZEIzxH6Hq4Ahl5hzb2pAKNmuGlMPiryGtKSgfYSFZ+uZzJ354\nWxsbvh9FXodAS21cZsk1qdbJ1wRxBVAlMRTyeIhBqmVLSI4vpkgjhNhcuOtCJyYk\nAb3cPbS7vWyYxSn/CBjHX/nCUytLgZ+nlU/ZwpEWrOKsYuEJYJ2K7haYM9nd7kRa\n5dysTPlfAgMBAAECggEAIeB+joZyfxVoQjqYe+Y07/qGcZNTK304jJqfJ+/ta9rl\nXC4OQmI8gzngTmt/YnmITyum167MBuhtJrjCf3LM3mgV+oGGZdWTEENiL4SBUCtl\nNXVTzcc7GH/5C0w1igq7bPMB6SEq81MRMINokaroJr15DqCY8im5A3zii3WBoXtZ\n8SOtH1VP1RETRLhdBsBpS3rVQ1nakuSJuVcqUIMYTIjkuYEupECYikaaH5doAnFP\nE8Rjj3EWwFSLJ9uoU4ODJvKth7gJt92eZM+jb6B0Uo3am/efqRvhudV1lYsO1rt3\nGKKagxU6NHR2NLvbuAhDgvObZwo0TRJcPBuDXyRIoQKBgQD/22KE83uR2H9ddD+z\nKUn8O9SZrqLH9J8rUjw5ZrqY1OX4yhN8wK8FmriKTtd+q/mnCpY4gF/J4PRAD+Nu\nhd5VoKs/lKpCjDNkW0uG/JWzRyveVm8algInbonlRWjg9AY2c3imvplImSjy1PZC\nlj1fitqUTGcRNfyF8xhTQlo9bwKBgQD7lmTckGvDBn8AurKvEeWHfbii0icr0bN1\nWs3u3qLWorDw0HySdusqUnSd1t8tf+M6oMqGq2M9p8FrWta0Myy3yWA/HQoB5/wP\nkeT5IT3zPSDnINyUd7d5A6ibS+NyVFKaa9/ggHYWXs1MpxJNQLMhEYvFo1xs52uQ\nbZboz7brEQKBgQDDOUyFEZvZ/w2/6zGnrPuNAMIJuZzvYZIJ5ieZzO7YKqqHGPmh\nmQxzBEmHDv2S4/oMISHaXum4CnOUZgsti+vH/l5sly0KthuImbiZeSVotAefEOiZ\nqpheKhQB4uJRsyECbz1CTfB72pHKKAD3cdfGjRaXTWzfTwgt1P1cmiZs9QKBgDtm\nEaAllNuxv/B7I87Dqe5oV1xRw5/L3dPaQX6hH88PEDl6775gxzrxxsixP3XtmMdx\nyP8snbyjy729760R2//0Un30LDWxAMjoSCgtmgPArfEDyDBhZ3bxzzADJcsLb4k3\n6N6HVdoIPe5YD7Efkms/SkG6RQsNRE8QIK4MxIIRAoGADMj94vbPulUsfJpDTJMn\naP+e4qNs+nIZrso/g7NzfvGOtkB3+kg3XCPK+eIL5tge/1zHt1awNfYePm1VQDF1\nU0/ogWswxC+Uo1mRe3zj8pYe01wjmYAl7Eb5oenTojiIpTFmwRjZFB4owrMQYsPr\ndzPbJsWLoHuFkQk0DY+IHoM=\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk-fbsvc@spamcallblocker-1ff4d.iam.gserviceaccount.com","client_id":"100486469996758169995","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40spamcallblocker-1ff4d.iam.gserviceaccount.com","universe_domain":"googleapis.com"}'
      ENC_KEY: mysupersecretkeymysupersecretkey
      HASH_KEY: kfjhsdjgh
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - scb

  db:
    build:
      context: ./src/db
      dockerfile: Dockerfile
    volumes:
      - scb:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - scb

  redis:
    image: redis:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - scb

networks:
  scb:

volumes:
  scb:
