@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 800px) {
  .sidebar_custom {
    position: fixed;
    z-index: 100;
    left: -16rem;
    transition: 0.3s ease;
  }
  .hamburger {
    display: block;
    position: absolute;
    color: oklch(48.8% 0.243 264.376);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 25px;
    right: -40px;
    top: 10px;
  }
  .sidebar_custom.open {
    left: 0px;
  }
  .sidebar_custom.open .hamburger {
    right: 20px;
    color: white;
    top: 20px;
  }
}
.cursor_pointer {
  cursor: pointer !important;
}
