.loader {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  background: #0071e2;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
